/* #bomForm { */
/*     margin-left: -50px; */
/* } */

.content {
	overflow: auto;
/* 	margin-left: 150px; */
	text-align: center;
	width: 65%;
/* 	height: 750px; */
	padding-right: 272px;
}

/* 품목추가 버튼 오른쪽에 붙이기  */
/* .srPlus { */
/*     text-align: right; */
/*     height: 90px; */
/*     width: 1248px; */
/*     margin-left: 180px; */
/* } */

/*BOM, 행추가 버튼*/
.plus:hover {
    background-color: #0085FF;
    cursor: pointer;
    color: white;
}

.plus {
    width: 100px;
    height: 50px;
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e6e6e6;
    font-size: 15px;
    cursor: pointer;
}

/*    수정, 삭제버튼 css */
.editBtn {
	border: 0px;
    background-color:rgba(0, 0, 0, 0);
	width: 40px;
	cursor: pointer;
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

.editBtn:hover {
	color: #0085FF;
    font-weight: bold;
}

/* select, 제품추가, 제품삭제 */
#recipeSelect {
    width: 100px;
    height: 50px;
    margin: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}

/* 김치만두, 고기만두 테이블에 적용되는 css */
.sr_bom {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	border: solid 1px #e6e6e6;
}

/* 테이블헤드 색상, 크기 설정 */
.srTh {
    background-color: #e6e6e6;
    height: 50px;
}

.thwidth {
    width: 140px;
}

td {
    height: 50px;
}

/* .meat { */
/*     display: none; */
/* } */

.pagination {
	display: inline-block;
	position : absolute;
	top : 820px;
	left : 900px;
	margin-top: 20px;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
	border-radius: 5px;
}

.pagination a.active {
	background-color: #0085FF;
	color: white;
	border: 1px solid #0085FF;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}